.navbar .nav-link:hover {
    color: #13ab85 !important;
}

.carousel-indicators [data-bs-target] {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    background-color: #000;
    margin: 0 5px;
    border: none;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    padding: 0;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #13ab85;
}

.blur-bg {
    filter: blur(0.5px) grayscale(0.3);
}

.hi5 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.hi2 {
    font-size: 60px;
    color: rgba(67, 183, 67, 0.897);
    font-weight: 700;
    letter-spacing: 4px;
}
.hi1 {
    font-size: 60px;
    color: rgba(67, 183, 67, 0.897);
    font-weight: 700;
    letter-spacing: 4px;
}

.image-container {
    position: relative;
    overflow: hidden;
    height: 250px;
    /* Adjust height as needed */
}

.image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.image-container img:hover {
    transform: scale(1.3);
}

.h-80 {
    height: 80%;
}

.image-text {
    position: relative;
}
.text {
    position: absolute;
    bottom: 5px;
    left: 20px;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.fixed-height {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.ms-6 {
    margin-left: 26% !important;
}

.p1 {
    font-size: 16px;
}
.slider-img {
  height: 550px;
  object-fit: cover;
}
.color
{
    color: #2d8d75;
}
.bg-color-icon
{
    background-color: #157960;
    padding: 11px 14px 11px 14px;
    border-radius: 30px;
}
.bg-color-icon1
{
    background-color: #157960;
    padding: 12px 13px 12px 13px;
    border-radius: 30px;
}

@media (min-width:992px) and (max-width:1276px) {
    .hi2 {
        font-size: 35px !important;
    }
    .slider-img {
    height: 100%;
  }
  .slider-img1 {
    height: 100%;
    height: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hi2 {
        font-size: 30px !important;
    }
    .slider-img {
    height: 800px; 
  }
  .slider-img1 {
    height: 100%;
    height: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
    .hi2 {
        font-size: 20px !important;
    }
    .slider-img {
    height: 800px;
  }
    .col-md-8,
    .col-md-4 {
        width: 100%;
    }
}

@media  (min-width: 320px) and (max-width: 575px) {
    .hi2 {
        font-size: 15px !important;
    }
    .col-md-8,
    .col-md-4,
    .col-sm-6 {
        width: 30%;
    }
    .card-img
    {
        /* width:200px !important; */
        height: 300px !important;
    }
   .slider-img {
    height: 800px;
  }

}